@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&display=swap');

body {
  margin: 0; /* Remove default margin */
  color: white; /* Set default text color */
  background-color: #000; /* Set default background color */
}

